html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}
body {
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/shsu.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}