html {
    background-image: linear-gradient(to right, lightblue 0%, white 100%);
}
body {
    width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/shsu.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
aside {
    width: 20%;
    float: right;
    background-color: lightblue;
    padding-left: 1em;
    padding-bottom: 1em;
    border: 4px darkblue;
}
