html {
    background-image: linear-gradient(to right, lightblue 0%, white 100%);
}
body {
    width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/shsu.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
aside {
    width: 20%;
    background-color: lightblue;
    padding: 1em;
    border: 2px solid darkblue;
    border-radius: 4px; 
    position: fixed; 
    float: right;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}
#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0; 
text-decoration: none;
background-color: blue;
color: white;
font-weight: bold;
border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }

footer {
    clear: both;
    border-top: 2px solid darkblue;

}
